/* styles.css */

body {
    background-color: black;
    color: white;
}

.stApp
{
    color: white;
    margin: auto;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    overflow: auto;
    background-color: darkblue;
    animation: gradient 15s ease infinite;
    background-size: 400% 400%;
    background-attachment: fixed;
}
.sidebar-content,
.st.sidebar {
    color: white;
    margin: auto;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    overflow: auto;
    background-color: black;
    animation: gradient 15s ease infinite;
    background-size: 400% 400%;
    background-attachment: fixed;
}
.stApp h2,
.stApp h3,
.stApp h4,
.stApp h5,
.stApp h6,
.stApp p{
    color: white;
}

.stApp h1 span {
    background: linear-gradient(to right, #007bff, #33ccff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: white;
}

.stApp > header {
    background-color: transparent;
}

/* Targeting Plotly chart title and labels */
.title-text,
.labels-text,
.legend text,
.legendtitle text {
    fill: white !important;
}

/* Move the sidebar styles here */
[data-testid=stSidebar] {
    background-color: black;
    fill: white !important;
}

[data-testid=stSidebarNavLink] {
   background-color: black;
    text-align: center;
   margin-left: 40px;

}
span.st-emotion-cache-1egp75f {
    color: white !important;
}

span.st-emotion-cache-1rtdyuf
{
    color: white !important;
}

.eyeqlp51 {
  fill: deepskyblue; /* Replace #your-desired-color with the color you want */
}


/* Targeting the sidebar */
.sidebar-content {
    background-color: black !important;
    color: black;
    fill: black !important;
}
/* Adding the background color for the specific div */
.stPlotlyChart {
    background-color: transparent;
    border: 2px red;
}

.plot-container {
    /*background-color: green;/*
    color: green;
    border: 2px solid red; /* Adjust the border width and color as needed */
}