/* styles.css */

body {
    background-color: red;
    color: white;
}
.sidebar-content,
.st.sidebar {
    color: white;
    margin: auto;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    overflow: auto;
    background-color: red;
    animation: gradient 15s ease infinite;
    background-size: 400% 400%;
    background-attachment: fixed;
}
.stApp h2,
.stApp h3,
.stApp h4,
.stApp h5,
.stApp h6,
.stApp p{
    color: white;
}

.stApp h1 span {
    /*background: linear-gradient(to right, #007bff, #33ccff);*/
    background: white;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: white;
}

.stApp > header {
    background-color: transparent;
}

/* Targeting Plotly chart title and labels */
.title-text,
.labels-text,
.legend text,
.legendtitle text {
    fill: white !important;
}

/* Move the sidebar styles here */
[data-testid=stSidebar] {
    background-color: rgb(0 0 0 / 20%);
    border-radius: 16px;
    box-shadow: 0 0.3rem 0.8rem rgba(0, 0, 0, .12);
    fill: white !important;
}

[data-testid=stSidebarNavLink] {
    background-color: transparent;
    text-align: center;
    margin-left: 40px;

}
span.st-emotion-cache-1egp75f {
    color: white !important;
}

span.st-emotion-cache-1rtdyuf
{
    color: white !important;
}

.eyeqlp51 {
  fill: deepskyblue;
}


/* Targeting the sidebar */
.sidebar-content {
    background-color: red !important;
    color: red;
    fill: red !important;
}

.plot-container {
    /*background-color: green;/*
    color: green;
    border: 2px solid red; /* Adjust the border width and color as needed */
}

/* DESIGN 1 black grey*/
/*
.stApp
{
    color: white;
    margin: auto;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    overflow: auto;
    background-image: linear-gradient(45deg, #29323c, #485563);
    animation: gradient 15s ease infinite;
    background-size: 400% 400%;
    background-attachment: fixed;
}
.stPlotlyChart {
   background-color: rgb(0 0 0 / 20%);
    border-radius: 16px;
    box-shadow: 0 0.3rem 0.8rem rgba(0, 0, 0, .12);
    backdrop-filter: blur(8.2px);
    -webkit-backdrop-filter: blur(8.2px);
    border: 1px solid rgba(42, 38, 38, 0.51);
    border: 10px  rgba(255, 0, 0, 0.51);
}*/
/* DESIGN 2 */
/*.stApp
{
    margin: auto;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    overflow: auto;
    background-image: url("https://codervent.com/dashtreme/demo/rtl/vertical/assets/images/bg-themes/6.png");
    background-size: cover;
    animation: gradient 15s ease infinite;
    background-attachment: fixed;
}
.stPlotlyChart {
   background-color: rgb(0 0 0 / 20%);
    border-radius: 16px;
    box-shadow: 0 0.3rem 0.8rem rgba(0, 0, 0, .12);
}*/
/* DESIGN 3 */
/*
.stApp
{
    margin: auto;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    overflow: auto;
    background-image: url("https://codervent.com/dashtreme/demo/rtl/vertical/assets/images/bg-themes/1.png");
    background-size: cover;
    animation: gradient 15s ease infinite;
    background-attachment: fixed;
}
.stPlotlyChart {
   background-color: rgb(0 0 0 / 20%);
    border-radius: 16px;
    box-shadow: 0 0.3rem 0.8rem rgba(0, 0, 0, .12);
}*/
/* DESIGN 4 */
/*
.stApp
{
    margin: auto;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    overflow: auto;
    background-image: url("https://codervent.com/dashtreme/demo/rtl/vertical/assets/images/bg-themes/2.png");
    background-size: cover;
    animation: gradient 15s ease infinite;
    background-attachment: fixed;
}
.stPlotlyChart {
   background-color: rgb(0 0 0 / 20%);
    border-radius: 16px;
    box-shadow: 0 0.3rem 0.8rem rgba(0, 0, 0, .12);
}*/
/* DESIGN 5 */
/*
.stApp
{
    margin: auto;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    overflow: auto;
    background-image: url("https://codervent.com/dashtreme/demo/rtl/vertical/assets/images/bg-themes/3.png");
    background-size: cover;
    animation: gradient 15s ease infinite;
    background-attachment: fixed;
}
.stPlotlyChart {
   background-color: rgb(0 0 0 / 20%);
    border-radius: 16px;
    box-shadow: 0 0.3rem 0.8rem rgba(0, 0, 0, .12);
}
*/
/* DESIGN 6 */
/*
.stApp
{
    margin: auto;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    overflow: auto;
    background-image: url("https://codervent.com/dashtreme/demo/rtl/vertical/assets/images/bg-themes/4.png");
    background-size: cover;
    animation: gradient 15s ease infinite;
    background-attachment: fixed;
}
.stPlotlyChart {
   background-color: rgb(0 0 0 / 20%);
    border-radius: 16px;
    box-shadow: 0 0.3rem 0.8rem rgba(0, 0, 0, .12);
}
*/
/* DESIGN 7 */
.stApp
{
    margin: auto;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    overflow: auto;
    background-image: linear-gradient(45deg, #29323c, #485563);
    background-size: cover;
    animation: gradient 15s ease infinite;
    background-attachment: fixed;
}
.stPlotlyChart {
   background-color: rgb(0 0 0 / 20%);
    border-radius: 16px;
    box-shadow: 0 0.3rem 0.8rem rgba(0, 0, 0, .12);
}

.custom-card {
    background-color: rgb(0 0 0 / 20%);
    border-radius: 16px;
    box-shadow: 0 0.3rem 0.8rem rgba(0, 0, 0, .12);
    width: 350px;
    height: 10%;
    margin-right: auto;
}

.custom-card2 {
    background-color: rgb(0 0 0 / 20%);
    border-radius: 16px;
    box-shadow: 0 0.3rem 0.8rem rgba(0, 0, 0, .12);
    width: 350px;
    height: 10%;
    margin-left: auto;
}

.custom-card h6 {
    color: white;
    text-align: left;
    margin-left: 20px;
    padding-top: 20px;
    margin-bottom: -15px;
}

.custom-card h5 {
    color: white;
    text-align: left;
    margin-left: 20px;
    font-size: 30px;
}

.custom-card p {
    color: white;
    text-align: left;
    margin-left: 20px;
    font-size: 15px;
    margin-top: -15px;
    padding-bottom: 15px;
}


.custom-card2 h6 {
    color: white;
    text-align: left;
    margin-left: 20px;
    padding-top: 20px;
    margin-bottom: -15px;
}

.custom-card2 h5 {
    color: white;
    text-align: left;
    margin-left: 20px;
    font-size: 30px;
}

.custom-card2 p {
    color: white;
    text-align: left;
    margin-left: 20px;
    font-size: 15px;
    margin-top: -15px;
    padding-bottom: 15px;
}
.modebar-group {
    background-color: transparent;
    border-radius: 16px;
}
#modebar-0f8e4f {
    background-color: transparent;
    border-radius: 16px;
}

.modebar.modebar--hover.ease-bg {
    background-color: transparent;
    border-radius: 16px;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchbar {
    width: 100%;
    max-width: 500px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    outline: none;
}

.searchbar:focus {
    border-color: #007BFF;
}

.st-be {
    /* Add your styles for the outer container div (data-baseweb="input") here */
    /* For example: */
    background-color: #2a313a;
    padding: 8px;
}

.st-b4 input {
    /* Add your styles for the input element here */
    /* For example: */
    width: 100%; /* Make the input take the full width */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
    color:white;
}